<%# Show the journal entries %>

<%# Show the title of the journal entry %>

<div class="m-3" style="font-size: 16px;"><i class="fa-solid fa-arrow-left"></i> <%= link_to "back", journal_entries_path%></div>
<div class='show-card'>
  <h1><%= @journal_entry.title %></h1>


    <p>
      <strong>Content:</strong>
      <%= @journal_entry.content %>
    </p>




    <p>
      <strong>Created:</strong>
      <%= @journal_entry.created_at.strftime("%A, %d %B %Y") %>
    </p>


</div>



<div class='image-tags' data-controller="add-form" >

  <div>
    <i class='fa-solid fa-image' data-action="click->add-form#displayForm">
    </i>
    <%= simple_form_for @journal_entry,  html: {class: "d-none", data: {add_form_target: "imageForm"}}  do |f| %>

      <%= f.input :photo, as: :file, id: 'image-input' %>
      <%= f.submit "Upload", class: "btn btn-primary" %>
    <% end %>



  </div>


  <div>
    <i class="fa-solid fa-plus"></i>
  </div>

  <div>
    <i class="fa-solid fa-at"></i>
  </div>



  <div>
    <i class="fa-solid fa-bold"></i>
    <i class="fa-solid fa-italic"></i>
    <i class="fa-solid fa-underline"></i>
  </div>

  <div>
<%= link_to journal_entry_path, data:{turbo_method: :delete} do%>
 <i class="fa-solid fa-trash" style="color: #C40505"></i>



<% end %>

  </div>
</div>

    <%# <%= form_for @journal_entry do |f| %>
    <!-- Other form fields... -->
      <%# <%= f.file_field :image, id: 'image-input', class:'d-none' %>
