<%# Show the journal entries %>

<%# Show the title of the journal entry %>
<div class='show-card'>
  <h1><%= @journal_entry.title %></h1>


    <p>
      <strong>Content:</strong>
      <%= @journal_entry.content %>
    </p>



<%#  %>


    <p>
      <strong>Created:</strong>
      <%= @journal_entry.created_at.strftime("%A, %d %B") %>
    </p>










</div>



<div class='image-tags' data-controller="add-form" >

  <div>
    <i class='fa-solid fa-image' data-action="click->add-form#displayForm">
    </i>
    <%= simple_form_for @journal_entry,  html: {class: "d-none", data: {add_form_target: "imageForm"}}  do |f| %>

    <%= f.input :photo, as: :file, id: 'image-input' %>
    <%= f.input :title %>
<%= f.submit "Upload", class: "btn btn-primary" %>


<!-- Display the image -->


    <% end %>


  </div>


  <div>
    <i class="fa-solid fa-plus"></i>
  </div>

  <div>
    <i class="fa-solid fa-at"></i>
  </div>



  <div>
    <i class="fa-solid fa-bold"></i>
    <i class="fa-solid fa-italic"></i>
    <i class="fa-solid fa-underline"></i>
  </div>



    <%= link_to  journal_entry_path(@journal_entry), data:{'turbo-method': :delete} do %>
       <div class='delete-img'>
    <i class="fa-solid fa-trash" >

    </i>
     </div>
  <% end %>
    <%# #clicking on this should trigger the destory action %>
<%# <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete } %>



</div>

    <%# <%= form_for @journal_entry do |f| %>
    <!-- Other form fields... -->
      <%# <%= f.file_field :image, id: 'image-input', class:'d-none' %>





<%# <div class='card-div'>
<% if @journal_entry.photo.attached? %>
  <%# <%= cl_image_tag @journal_entry.photo.key  %>
  <%# <% end %>


<%# </div> %>
