<div class="container mt-5 text-center">
<h1>Mood progress</h1>
<%= month_calendar(attribute: :date, events: @moods) do |date,moods| %>
<div class="calendar">
  <%= date.day %>
  <% if moods.present? %>
    <% case moods.first["emotion"]

    when "Joyful" %>
    <%= image_tag "https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Beaming%20Face%20with%20Smiling%20Eyes.png",width: 20, height: 20 %>

    <% when "Happy" %>
    <%= image_tag "https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Slightly%20Smiling%20Face.png",width: 20, height: 20 %>

    <% when "Numb" %>
    <%= image_tag "https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Neutral%20Face.png",width: 20, height: 20 %>

    <% when "Anxious" %>
    <%= image_tag "https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Anxious%20Face%20with%20Sweat.png",width: 20, height: 20 %>

    <% when "Sad" %>
    <%= image_tag "https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Loudly%20Crying%20Face.png",width: 20, height: 20 %>

    <% when "Angry" %>
    <%= image_tag "https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Enraged%20Face.png",width: 20, height: 20 %>

    <% end %>

  <% end %>
  </div>
<% end %>
</div>


<%# Mood is an array of hashes that's why moods.first["emotion"]%>
<%# Now we used moods.first["emotion"].split(" ").first to retieve the emoji only%>
