<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <li class="nav-item dropdown" style="list-style-type: none;">
        <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag "instagram-default-profile-picture-11562973083brycehrmyv.png", class: "avatar", alt: "dropdown menu" %>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%# <%= link_to "Action", "#", class: "dropdown-item" %>
          <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
        </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
    <%# <%= link_to "#", class: "navbar-brand" do %>
      <%# <%= image_tag "f75544b8feb18b30f02bad13e7eb6a71--image-zen-zen-attitude.jpg" %>
    <%# <% end %>


  </div>
</div>
