<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">How are you feeling?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="mb-3 col text-center">
              <%= simple_form_for @mood do |f|%>
                <%= f.label :emotion do %>

                <div class = "all-emo d-flex">

                  <div class="emo">
                    <%= image_tag "https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Beaming%20Face%20with%20Smiling%20Eyes.png", alt: "Beaming Face with Smiling Eyes", width: 35, height: 35 %>
                      <%= f.radio_button :emotion, 'ðŸ˜ Joyful' %>
                  </div>

                  <div class="emo">
                      <%= image_tag "https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Slightly%20Smiling%20Face.png", alt: "Slightly Smiling Face", width: 35, height: 35 %>
                        <%= f.radio_button :emotion, 'ðŸ™‚ Happy' %>
                  </div>

                  <div class="emo">
                      <%= image_tag "https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Neutral%20Face.png", alt: "Neutral Face", width: 35, height: 35 %>
                        <%= f.radio_button :emotion, 'ðŸ˜ Numb' %>
                  </div>

                  <div class="emo">
                      <%= image_tag "https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Anxious%20Face%20with%20Sweat.png", alt: "Anxious Face with Sweat", width: 35, height: 35 %>
                        <%= f.radio_button :emotion, 'ðŸ˜¨ Anxious' %>
                  </div>

                  <div class="emo">
                      <%= image_tag "https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Loudly%20Crying%20Face.png", alt: "Loudly Crying Face", width: 35, height: 35 %>
                        <%= f.radio_button :emotion, 'ðŸ˜­ Sad' %>
                  </div>

                  <div class="emo">
                      <%= image_tag "https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Enraged%20Face.png", alt: "Enraged Face", width: 35, height: 35 %>
                        <%= f.radio_button :emotion, 'ðŸ˜¡ Angry' %>
                  </div>

                </div>
                <% end %>
                <!-- Repeat for other emotions -->
                <%= f.submit "Save", class: "submit-button"%>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# <%= simple_form_for @mood do |f|%>
  <%# <%= f.input :emotion, collection: [['ðŸ˜ Joyful', 'ðŸ˜ '], ['ðŸ™‚ Happy', ' ðŸ™‚ '], ['ðŸ˜ Numb', ' ðŸ˜ '], ['ðŸ˜¨ Scared', ' ðŸ˜¨ '], ['ðŸ˜­ Sad', ' ðŸ˜­ '], ['ðŸ˜¡ Angry', ' ðŸ˜¡ ']], label_method: :second, value_method: :first, as: :radio_buttons, input_html: { class: "emotion-selector" }, item_wrapper_class: 'emotion-item', legend_tag: false %>
  <%# <%= f.submit "Save"%>
<%# <%end %>
