<div class="hi-msg">
<% if @current_user.present? %>
  <h1><%= "Hi, #{@current_user.name} !" %></h1>
<% end %>
</div>

<div class="features">
    <!-- Button trigger modal / form -->
    <button type="button" class="btn feelings feelings-card text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <h4 class><i class="fa-solid fa-face-smile"></i>  <%= @thismood  %></h4>
    </button>
    <!-- Render modal / form -->
    <% if @mood.new_record? %>
      <%= render "moods/modal", locals: { moods: @moods } %>
    <% end %>

  <% if @quote.present? %>
  <div class="quote-title">
    <h3>Quote</h3>
  </div>

    <div class="quote">
      <p style = "font-size: 16px; font-family: Petit Formal Script, cursive; font-weight: bold"><%= @quote.content%></p>
    </div>
  <% end %>

    <div class="container grid-2 gap-2">
      <div class="journal component others-card">
        <h4><%= link_to "My journals", journal_entries_path, class: 'text-black' %></h4>
      </div>

      <div class="vibes component vibes-card">
        <h4 class="home-link"><%= link_to "Vibes", spotify_path, class: 'text-black' %></h4>
      </div>

       <div class="ai component others-card">
        <h4><%= link_to "AI chat", aichat_path, class: 'text-black'%></h4>
       </div>


      <div class="therapists component others-card">
        <h4><%= link_to "Therapists", therapists_path, class: 'text-black' %></h4>
      </div>
    </div>
</div>
